[Unit]
Description=MQTT to InfluxDB bridge
Requires=influxdb.service mosquitto.service
After=influxdb.service mosquitto.service

[Service]
ExecStart=/usr/local/bin/mqtt-influxdb-bridge.py
User=influxdb
Group=influxdb
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
