[Unit]
Description=Smartmeter
After=syslog.target

[Service]
EnvironmentFile=/etc/smartmeter.conf 
ExecStart=/usr/local/bin/smartmeter --serial ${SERIAL} --ramdisk ${RAMDISK} --host ${HOST} --port ${PORT} --topic ${TOPIC} --rate ${RATE} --price ${PRICE}
User=http
Group=http

[Install]
WantedBy=multi-user.target
