[Unit]
Description=Smartmeter
After=syslog.target

[Service]
EnvironmentFile=/etc/smartmeter.conf 
ExecStart=/usr/bin/smartmeter --serial ${SERIAL} --host ${HOST} --port ${PORT} --topic ${TOPIC} --user ${USER} --pass ${PASS}--rate ${RATE} --price ${PRICE}
User=http
Group=http

[Install]
WantedBy=multi-user.target
