[Unit]
Description=Smartmeter
After=syslog.target

[Service]
ExecStart=/usr/local/bin/smartmeter --serial /dev/ttyACM0 --ramdisk /dev/shm
User=http
Group=http

[Install]
WantedBy=multi-user.target
