[Unit]
Description=Smartmeter
After=syslog.target

[Service]
ExecStart=/usr/bin/smartmeter -c /etc/smartmeter.conf
User=http
Group=http

[Install]
WantedBy=multi-user.target
